@import '__glob_config';

.app_bar {
    background-color: $appbar_bg_color;
    color: #fff;
    padding: 0 $gap;
    display: flex;
    align-items: center;
    .app_bar_items {
        display: flex;
        align-items: center;
        flex-direction: row;
        .bar_item {
            border-radius: $board_content_border_radius;
            height: calc($appbar_height - 10px);
            font-size: 1.4rem;
            margin-left: 5px;
            padding: 0 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                margin: 0 5px;
                // transform: scale(1.2);
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.468);
                cursor: pointer;
            }
        }
    }
    .app_bar_logo {
        .logo_item {
            font-size: 2rem;
            font-weight: 600;
        }
        svg {
            transform: scale(1.3);
        }
    }
    .app_bar_options {
        flex: 1;
    }
    .app_bar_actions {
        .item_input {
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid $board_content_border_radius;
            ::-webkit-input-placeholder {
                color: #ffffff;
            }

            label {
                transform: scale(1.2);
            }
            input {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 1.5rem;
                padding: 5px 10px;
            }
        }
    }
}
