@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');
$board_bg_color: #0079bf;
$gap: 10px;
$appbar_bg_color: #0066a0;

$appbar_height: 44px;
$board_bar_height: 40px;

$column_bg_color: #ebecf0;
$column_border_radius: 3px;
$column_header_height: 40px;
$column_footer_height: 38px;

$scrollbar_bg_color: #c1c1c1b3;

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trello_container {
    height: 100vh;
    font-size: 1.6rem;
    background-color: $board_bg_color;
    display: grid;
    grid-template-rows: $appbar_height $board_bar_height 1fr;

    .navbar {
        padding-left: $gap;
        display: flex;
        align-items: center;

        &.app {
            background-color: $appbar_bg_color;
            font-size: 2.5rem;
        }

        &.board {
            background-color: $board_bg_color;
            font-size: 1.8rem;
        }
    }

    .board-columns {
        display: flex;
        overflow-x: auto;
        height: calc(100vh - #{$board_bar_height + $appbar_height});
        padding: 0 10px 10px 0;
        /* ===== Scrollbar CSS ===== */
        /* Firefox */
        scrollbar-width: 10px;
        scrollbar-color: #969696 #dedede;
        /* Chrome, Edge, and Safari */
        &::-webkit-scrollbar {
            height: 30px;
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
            height: 20px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $scrollbar_bg_color;
            border-radius: 999px;
            border: 8px solid $board_bg_color;
        }
        .column {
            flex: 0 0 auto;
            width: 300px;
            height: 100%;
            // height: calc(100vh - #{$board_bar_height + $appbar_height});
            margin-left: 10px;
            > * {
                background-color: $column_bg_color;
                color: #3a3a3a;
                overflow-x: hidden;
            }
            header {
                padding-left: 15px;
                height: $column_header_height;
                line-height: $column_header_height;
                font-size: 1.4rem;
                font-weight: 500;
                color: #172b4d;
                border-radius: $column_border_radius $column_border_radius 0 0;
            }
            footer {
                height: $column_footer_height;
                line-height: $column_footer_height;
                padding-left: 15px;

                border-radius: 0 0 $column_border_radius $column_border_radius;
            }

            ul {
                max-height: calc(
                    100% - $column_header_height - $column_footer_height
                );
                padding: 0 $gap;
                overflow-y: auto;
                scrollbar-width: auto;
                scrollbar-color: #bfc4ce #dedede;

                &::-webkit-scrollbar {
                    width: 12px;
                }
                &::-webkit-scrollbar-track {
                    background: $column_bg_color;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #bfc4ce;
                    border-radius: 0px;
                    border-right: 5px solid $column_bg_color;
                }

                li {
                    background-color: #fff;
                    border-radius: $column_border_radius;
                    overflow: hidden;
                    box-shadow: 0 1px 0 #091e4240;
                    margin-bottom: 8px;
                    font-size: 1.4rem;
                    p {
                        padding: 6px 8px;
                        width: 100%;
                        // line-height: 100%;
                    }
                }
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 200px;
                }
            }
        }
    }
}
