@import './__glob_config';

.trello_container {
    height: 100vh;
    font-size: 1.6rem;
    background: $dynamic_bg_color;
    background-image: $dynamic_bg_image_gradient;
    display: grid;
    grid-template-rows: $appbar_height $board_bar_height 1fr;
    overflow: hidden;
}
